h1{
  text-align: center;
}

#sleep {
  width: 100px;
}


#sleep-table{
  display: none;
}


#back-button {
  width: 200px;
  height: 80px;
}


#show-template{
  display: none;
}
ul {
	list-style-type: none;
}
#filteredSleepDates, #filteredMedicationsDates, #filteredExercisesDates, #filteredFoodDates, #filteredDrinkDates, #filteredGeneralDates li {
  color: blue;
}
#filteredSleepDates, #filteredMedicationsDates, #filteredExercisesDates, #filteredFoodDates, #filteredDrinkDates, #filteredGeneralDates li:hover {
  text-decoration: underline;
  cursor: pointer;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
